extends ../layout

block content

  h1= 'Update' + user.email     
  form(action='/users/' + user.id + '?_method=PATCH', method='POST')
    .form-group
      label(for='firstName') firstName
      input#firstName.form-control(type='text', name='firstName' value=user.firstName)

    .form-group
      label(for='lastName') lastName
      textarea#lastName.form-control(name='lastName')=user.lastName
    
    .form-group
      label(for='email') email
      textarea#lastName.form-control(name='email')= user.email

    .form-group
      label(for='password') password
      textarea#lastName.form-control(name='password')=user.password


    input.btn.btn-default(type='submit', value='Update')