extends ../layout

block content

  h1= 'Update ' + user.email     
  form(action='/users/' + user.id + '?_method=PATCH', method='POST')
    .form-group
      label(for='firstName') Prénom
      input#firstName.form-control(type='text', name='firstName' value=user.firstName)

    .form-group
      label(for='lastName') Nom
      textarea#lastName.form-control(name='lastName')=user.lastName
    
    .form-group
      label(for='email') Adresse mail
      textarea#lastName.form-control(name='email')= user.email

    .form-group
      label(for='password') Mot de passe
      textarea#lastName.form-control(name='password')=user.password


    input.btn.btn-default(type='submit', value='Update')
